@import _root_.controllers.AssetsFinder
@import pl.edu.agh.msc.auth.user.User
@import pl.edu.agh.msc.auth.views.html.main
@import pl.edu.agh.msc.ui.controllers.routes
@import play.twirl.api.Html
@import org.webjars.play.WebJarsUtil
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import pl.edu.agh.msc.cart.Cart
@import pl.edu.agh.msc.review.Rating
@import pl.edu.agh.msc.availability.Availability
@import pl.edu.agh.msc.products.{ ProductId, ProductShort }
@import java.time.format.{ DateTimeFormatter, FormatStyle }
@import views.html.helper.CSRF

@(cart: Cart, products: Map[ProductId, ProductShort])(implicit user: Option[User], request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(s"Simple Shop - Cart", user) {

    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Amount</th>
            <th>Price</th>
        </tr>
        @for(item <- cart.items) {
            <tr>
                <td><img src="@products(item.product).photo.getOrElse { @assets.path("images/placeholder.jpg") }"></td>
                <td>@products(item.product).name</td>
                <td>@item.amount</td>
                <td>@products(item.product).price.value.toString</td>
            </tr>
        }
    </table>

    <div class="row justify-content-center">
        <div class="col-6">
            <h3>Address</h3>
            <form action="@routes.OrderController.draft()" method="post">
                @CSRF.formField
                <input type="text" class="form-control" id="fullName"      name="address.fullName"      placeholder="Full Name">
                <input type="text" class="form-control" id="streetAddress" name="address.streetAddress" placeholder="Street Address">
                <input type="text" class="form-control" id="zipCode"       name="address.zipCode"       placeholder="Zip Code">
                <input type="text" class="form-control" id="city"          name="address.city"          placeholder="City">
                <input type="text" class="form-control" id="country"       name="address.country"       placeholder="Country">
                @for((items, index) <- cart.items.zipWithIndex) {
                    <input type="hidden" id="cart.items[@index].product" name="cart.items[@index].product" value="@items.product.value">
                    <input type="hidden" id="cart.items[@index].amount"  name="cart.items[@index].amount"  value="@items.amount">
                }
                <input type="submit" class="btn btn-lg btn-primary" value="Checkout">
            </form>
        </div>
    </div>


}
