@import _root_.controllers.AssetsFinder
@import pl.edu.agh.msc.auth.user.User
@import pl.edu.agh.msc.auth.views.html.main
@import pl.edu.agh.msc.ui.controllers.routes
@import org.webjars.play.WebJarsUtil
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import pl.edu.agh.msc.products.ProductShort
@import pl.edu.agh.msc.review.Review
@import pl.edu.agh.msc.review.Rating

@(recommendedProducts: Seq[ProductShort], reviews: Seq[(Review, ProductShort)])(implicit user: Option[User], request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main("Simple Shop - Main Page", user) {

    <h1>Recommended products</h1>
    <table>
        @for(product <- recommendedProducts) {
          <td>
              <ul>
                  <li><img src="@product.photo.getOrElse { @assets.path("images/placeholder.jpg") }"></li>
                  <li><a href="@routes.ProductController.details(product.id)">@product.name</a></li>
                  <li>$@product.price.value.toString</li>
                  <li>
                      @product.averageRating match {
                          case None => { }
                          case Some(Rating(rating)) => {
                              <div class="my-tooltip">
                                  @{(1 to BigDecimal(rating).setScale(0, BigDecimal.RoundingMode.HALF_UP).toInt).map(_ => "⭐").mkString}
                                  <span class="tooltiptext">@rating.formatted("%.1f")</span>
                              </div>
                          }
                      }
                  </li>
              </ul>
          </td>
        }
    </table>

}
