@import _root_.controllers.AssetsFinder
@import pl.edu.agh.msc.auth.user.User
@import pl.edu.agh.msc.auth.views.html.main
@import pl.edu.agh.msc.ui.controllers.routes
@import play.twirl.api.Html
@import org.webjars.play.WebJarsUtil
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import pl.edu.agh.msc.products.ProductShort
@import pl.edu.agh.msc.products.Paginated
@import pl.edu.agh.msc.review.Rating
@import pl.edu.agh.msc.availability.Availability
@import java.time.format.{ DateTimeFormatter, FormatStyle }

@(
  paginated: Paginated[ProductShort],
  text:      Option[String],
  minPrice:  Option[Int],
  maxPrice:  Option[Int],
  minRating: Option[Int]
)(implicit user: Option[User], request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(s"Simple Shop - Products", user) {
    <div class="text-center">
        <ul class="pagination">
            @paginated.prev.map { page =>
                <li class="prev">
                    <a href="@routes.ProductController.list(text, minPrice, maxPrice, minRating, Some(paginated.pagination.size), Some(page))">&laquo;</a>
                </li>
            }.getOrElse {
                <li class="disabled"><span>&laquo;</span></li>
            }

            <li class="active">
                <a>Displaying page @paginated.pagination.page of @paginated.totalPages</a>
            </li>

            @paginated.next.map { page =>
                <li class="next">
                    <a href="@routes.ProductController.list(text, minPrice, maxPrice, minRating, Some(paginated.pagination.size), Some(page))">&raquo;</a>
                </li>
            }.getOrElse {
                <li class="next disabled"><span>&raquo;</span></li>
            }
        </ul>
    </div>


   <table>
      @for(row <- paginated.data.grouped(4)) {
         <tr>
            @for(product <- row) {
               <td>
                  <ul>
                     <li><img src="@product.photo.getOrElse { @assets.path("images/placeholder.jpg") }"></li>
                     <li><a href="@routes.ProductController.details(product.id)">@product.name</a></li>
                     <li>$@product.price.value.toString</li>
                     <li>
                     @product.averageRating match {
                        case None => { }
                        case Some(Rating(rating)) => {
                           <div class="my-tooltip">
                              @{(1 to BigDecimal(rating).setScale(0, BigDecimal.RoundingMode.HALF_UP).toInt).map(_ => "⭐").mkString}
                           <span class="tooltiptext">@rating.formatted("%.1f")</span>
                           </div>
                        }
                     }
                     </li>
                  </ul>
               </td>
            }
         </tr>
      }
   </table>
}
