@import views.html.b3
@import views.html.b3.inline.fieldConstructor
@import views.html.helper
@import controllers.AssetsFinder
@import pl.edu.agh.msc.auth.controllers.forms.SignInForm.Data
@import org.webjars.play.WebJarsUtil
@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import pl.edu.agh.msc.auth.controllers.routes

@(signInForm: Form[Data])(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("sign.in.title")) {
    <div class="row justify-content-center">
        <fieldset class="col-6">
            <legend>@messages("sign.in.credentials")</legend>
            @helper.form(action = routes.SignInController.submit()) {
                @helper.CSRF.formField
                @b3.email(signInForm("email"), '_hiddenLabel -> messages("email"), 'placeholder -> messages("email"), 'class -> "form-control input-lg")
                @b3.password(signInForm("password"), '_hiddenLabel -> messages("password"), 'placeholder -> messages("password"), 'class -> "form-control input-lg")
                @b3.checkbox(signInForm("rememberMe"), '_text -> messages("remember.me"), 'checked -> true)
                <div class="form-group">
                    <div>
                        <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("sign.in")</button>
                    </div>
                </div>
            }

            <div>
                <p class="not-a-member">@messages("not.a.member") <a href="@routes.SignUpController.view">@messages("sign.up.now")</a></p>
            </div>

        </fieldset>
    </div>
}
