@import _root_.controllers.AssetsFinder
@import pl.edu.agh.msc.auth.user.User
@import pl.edu.agh.msc.auth.views.html.main
@import pl.edu.agh.msc.cart.Cart
@import pl.edu.agh.msc.products.{ ProductId, ProductShort }
@import pl.edu.agh.msc.ui.controllers.routes
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader

@(cart: Cart, products: Map[ProductId, ProductShort])(implicit user: Option[User], request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(s"Simple Shop - Cart", user) {

    @if(cart.items.nonEmpty) {
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Amount</th>
                <th>Price</th>
            </tr>
            @for(item <- cart.items) {
                <tr>
                    <td><img src="http://i.imgur.com/ThRGE6S.jpg"></td>
                    <td>@products(item.product).name</td>
                    <td>@item.amount</td>
                    <td>@products(item.product).price.value.toString</td>
                </tr>
            }
        </table>

        <div class="row justify-content-center">
            <div class="col-6">
                <h3>Address</h3>
            </div>
        </div>
    } else {
        <h2>Your cart is empty</h2>
    }

}
