@import _root_.controllers.AssetsFinder
@import org.webjars.play.WebJarsUtil
@import pl.edu.agh.msc.auth.user.User
@import pl.edu.agh.msc.auth.views.html.main
@import pl.edu.agh.msc.orders.{ Order, OrderStatus }
@import pl.edu.agh.msc.products.{ ProductId, ProductShort }
@import pl.edu.agh.msc.ui.controllers.routes
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@(order: Order, products: Map[ProductId, ProductShort])(implicit user: Option[User], request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(s"Simple Shop - Order Confirmation", user) {

    <h4><strong>Order #</strong> @order.id.value.toString.split("-").head</h4>
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Amount</th>
            <th>Price</th>
        </tr>
        @for(item <- order.items) {
            <tr>
                <td><img src="@products(item.product).photo.getOrElse { @assets.path("images/placeholder.jpg") }"></td>
                <td><a href="@routes.ProductController.details(item.product)">@products(item.product).name</a></td>
                <td>@item.amount</td>
                <td>@item.price.value.toString</td>
            </tr>
        }

    </table>
    <div class="row justify-content-center">
        <div class="col-6">
            <h3>Address</h3>
            <form>
                <input type="text" class="form-control" value="@order.address.fullName"      disabled id="fullName"      name="address.fullName"      placeholder="Full Name">
                <input type="text" class="form-control" value="@order.address.streetAddress" disabled id="streetAddress" name="address.streetAddress" placeholder="Street Address">
                <input type="text" class="form-control" value="@order.address.zipCode"       disabled id="zipCode"       name="address.zipCode"       placeholder="Zip Code">
                <input type="text" class="form-control" value="@order.address.city"          disabled id="city"          name="address.city"          placeholder="City">
                <input type="text" class="form-control" value="@order.address.country"       disabled id="country"       name="address.country"       placeholder="Country">
            </form>

            @if(order.status == OrderStatus.Unconfirmed) {
                <form action="@routes.OrderController.confirm(order.id)" method="post">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Confirm and Pay</button>
                </form>
            } else if (order.status == OrderStatus.Confirmed) {
                <h4><strong>Status:</strong> awaiting payment</h4>
            } else if (order.status == OrderStatus.Paid) {
                <h4><strong>Status: </strong> paid</h4>
            }
        </div>
    </div>

}
