@import java.time.format.{ DateTimeFormatter, FormatStyle }

@import _root_.controllers.AssetsFinder
@import org.webjars.play.WebJarsUtil
@import pl.edu.agh.msc.auth.user.User
@import pl.edu.agh.msc.auth.views.html.main
@import pl.edu.agh.msc.orders.{ Order, OrderStatus }
@import pl.edu.agh.msc.ui.controllers.routes
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader

@(orders: Seq[Order])(implicit user: Option[User], request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(s"Simple Shop - Orders", user) {

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Number</th>
                <th>Date</th>
                <th>Status</th>
            </tr>

        </thead>
        @for(order <- orders) {
            <tr>
                <td><a href="@routes.OrderController.view(order.id)">@order.id.value.toString.split("-").head</a></td>
                <td>@order.date.format(DateTimeFormatter.ofLocalizedDateTime(FormatStyle.MEDIUM))</td>
                <td>@order.status match {
                    case OrderStatus.Unconfirmed => { unconfirmed }
                    case OrderStatus.Confirmed   => { awaiting payment }
                    case OrderStatus.Paid        => { paid }
                }</td>
            </tr>
        }
    </table>

}
