@import _root_.controllers.AssetsFinder
@import org.webjars.play.WebJarsUtil
@import pl.edu.agh.msc.auth.user.User
@import pl.edu.agh.msc.auth.views.html.main
@import pl.edu.agh.msc.products.{ Paginated, ProductShort }
@import pl.edu.agh.msc.review.Rating
@import pl.edu.agh.msc.ui.controllers.routes
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader

@(
  paginated: Paginated[ProductShort],
  text:      Option[String],
  minPrice:  Option[Int],
  maxPrice:  Option[Int],
  minRating: Option[Int]
)(implicit user: Option[User], request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(s"Simple Shop - Products", user) {

    <form action="@routes.ProductController.list().url" method="get" id="search-form">
        <div class="form-row align-items-center">
            <div class="col-auto"><input type="text"   class="form-control" id="text"      name="text"      placeholder="What are you looking for?" @text.map  { v => value="@v" }.getOrElse { }></div>
            <div class="col-auto"><input type="number" class="form-control" id="minPrice"  name="minPrice"  placeholder="min price"  @minPrice.map  { v => value="@v" }.getOrElse { }></div>
            <div class="col-auto"><input type="number" class="form-control" id="maxPrice"  name="maxPrice"  placeholder="max price"  @maxPrice.map  { v => value="@v" }.getOrElse { }></div>
            <div class="col-auto"><input type="number" class="form-control" id="minRating" name="minRating" placeholder="min rating" @minRating.map { v => value="@v" }.getOrElse { }></div>
            <div class="col-auto"><input type="hidden" class="form-control" id="size"      name="size"      value="@paginated.pagination.size"></div>
        </div>
        <div class="form-row align-items-center">
            <div class="col-auto"><input type="submit" class="btn btn-lg btn-primary" value="Search"></div>
        </div>
    </form>
    <script>
        var form = document.getElementById('search-form');
        form.addEventListener('submit', function () {
            var allInputs = form.getElementsByTagName('input');
            for (var i = 0; i < allInputs.length; i++) {
                var input = allInputs[i];
                if (input.name && !input.value) {
                    input.name = '';
                }
            }
        });
    </script>
    @if(paginated.data.isEmpty) {
        <h2>No results :/</h2>
    } else {
        <table>
        @for(row <- paginated.data.grouped(4)) {
            <tr>
            @for(product <- row) {
                <td>
                    <ul>
                        <li><img src="@product.photo.getOrElse { @assets.path("images/placeholder.jpg") }"></li>
                        <li><a href="@routes.ProductController.details(product.id)">@product.name</a></li>
                        <li>$@product.price.value.toString</li>
                        <li>
                        @product.averageRating match {
                            case None => { }
                            case Some(Rating(rating)) => {
                                <div class="my-tooltip">
                                    @{(1 to BigDecimal(rating).setScale(0, BigDecimal.RoundingMode.HALF_UP).toInt).map(_ => "⭐").mkString}
                                <span class="tooltiptext">@rating.formatted("%.1f")</span>
                                </div>
                            }
                        }
                        </li>
                    </ul>
                </td>
            }
            </tr>
        }
        </table>
        <div class="text-center">
            <ul class="pagination">
                @paginated.prev.map { page =>
                <li class="prev">
                    <a href="@routes.ProductController.list(text, minPrice, maxPrice, minRating, Some(paginated.pagination.size), Some(page))">&laquo;</a>
                </li>
                }.getOrElse {
                    <li class="disabled"><span>&laquo;</span></li>
                }

                <li class="active">
                    <a>Displaying page @paginated.pagination.page of @paginated.totalPages</a>
                </li>

                @paginated.next.map { page =>
                <li class="next">
                    <a href="@routes.ProductController.list(text, minPrice, maxPrice, minRating, Some(paginated.pagination.size), Some(page))">&raquo;</a>
                </li>
                }.getOrElse {
                    <li class="next disabled"><span>&raquo;</span></li>
                }
            </ul>
        </div>
    }




}
