@import java.time.format.{ DateTimeFormatter, FormatStyle }

@import _root_.controllers.AssetsFinder
@import org.webjars.play.WebJarsUtil
@import pl.edu.agh.msc.auth.user.User
@import pl.edu.agh.msc.auth.views.html.main
@import pl.edu.agh.msc.availability.Availability
@import pl.edu.agh.msc.products.{ ProductDetails, ProductShort }
@import pl.edu.agh.msc.review.Rating
@import pl.edu.agh.msc.ui.controllers.routes
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@import views.html.helper.CSRF

@(product: ProductDetails, recommendations: Seq[ProductShort])(implicit user: Option[User], request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(s"Simple Shop - ${product.name}", user) {

    <table>
        <tr>
            <td>
                <img src="@product.photo.getOrElse { @assets.path("images/placeholder_full.jpg") }">
            </td>
            <td>
                <ul>
                    <li>
                        <h2>@product.name</h2>
                    </li>
                    <li>
                      @product.averageRating match {
                        case None => { }
                        case Some(Rating(rating)) => {
                            <div class="my-tooltip">
                                @{(1 to BigDecimal(rating).setScale(0, BigDecimal.RoundingMode.HALF_UP).toInt).map(_ => "⭐").mkString}
                            <span class="tooltiptext">@rating.formatted("%.1f")</span>
                            </div>
                        }
                      }
                    </li>
                    <li>
                        Price: $@product.price.value.toString
                    </li>
                    <li>
                        Stock: @product.availability match {
                          case None => { Unknown }
                          case Some(Availability(amount)) => {
                            @if(amount == 0) {
                               Unavailable
                            } else if (amount <= 5) {
                              Only @amount available
                            } else {
                              Available
                            }
                          }
                        }
                    </li>
                    <li class="product-desc">@Html(product.description)</li>
                    @if(user.isDefined) {
                        <li>
                            <form action="@routes.CartController.add(product.id)" method="post" class="form-inline">
                                @CSRF.formField
                                <input type="number" class="form-control" id="amount" name="amount" placeholder="amount" value="1">
                                <button type="submit" class="btn btn-primary btn-lg"> Add to Cart </button>
                            </form>
                        </li>
                    }
                </ul>
            </td>
        </tr>
    </table>

    <h1>Recommended Products</h1>
    <div class="row">
        @for(product <- recommendations) {
            <div class="col-auto">
                <ul>
                    <li><img src="@product.photo.getOrElse { @assets.path("images/placeholder.jpg") }"></li>
                    <li><a href="@routes.ProductController.details(product.id)">@product.name</a></li>
                    <li>$@product.price.value.toString</li>
                    <li>
                    @product.averageRating match {
                        case None => { }
                        case Some(Rating(rating)) => {
                            <div class="my-tooltip">
                                @{(1 to BigDecimal(rating).setScale(0, BigDecimal.RoundingMode.HALF_UP).toInt).map(_ => "⭐").mkString}
                            <span class="tooltiptext">@rating.formatted("%.1f")</span>
                            </div>
                        }
                    }
                    </li>
                </ul>
            </div>
        }
    </div>

    <h3 style="text-align: center">Reviews</h3>
    @for(review <- product.reviews) {
        <div class="row justify-content-center mt-4">
            <div class="col-4">
                <ul style="white-space: nowrap;">
                    <li>
                        <span style="font-weight: bold;">@review.author</span>
                    </li>
                    <li>
                        <span style="font-weight: lighter;">@review.date.format(DateTimeFormatter.ofLocalizedDate(FormatStyle.MEDIUM))</span>
                    </li>
                    <li>
                        @{(1 to review.rating.value.toInt).map(_ => "⭐").mkString}
                    </li>
                </ul>
            </div>
            <div class="col-8">
                @review.content
            </div>
        </div>
    }
    <h4 style="text-align: center" class="mt-5 mb-2">Your review</h4>
    <form action="@routes.ProductController.review(product.id)" method="post" class="mb-5">
        @CSRF.formField
        <input type="text" class="form-control" id="author" name="author" placeholder="Name or nick" value="@user.flatMap(_.fullName).getOrElse { }">
        <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" value="5">
        <textarea class="form-control" id="content" name="content" placeholder="Review" rows="5"></textarea>
        <button type="submit" class="btn btn-primary btn-block">Save review</button>
    </form>

}
